* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Menlo", "Ubuntu Mono", monospace, "Consolas";
    /* overflow: auto; ,*/
}

header {
    box-shadow: 0px 3px 10px 5px yellowgreen;
}

input {
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    background-color: #181a1b;
}

h1 {
    padding: 20px;
    color: yellowgreen;
    background-color: rgba(164, 210, 70, 0.3);
}

u h1 img {
    /* filter: invert(99%) sepia(44%) saturate(2195%) hue-rotate(19deg) brightness(88%) contrast(86%); */
    background-color: transparent;
    background: none;
    border-radius: 50%;
    margin: 0px 10px;
}

header nav {
    background-color: Black;
}

header nav button {
    border-radius: 0;
    border: 0;
    /* border-right: 1px solid white; */
}

button {
    background-color: transparent;
    padding: 10px;
    margin: 3px 3px;
    box-shadow: 0;
    border: 1px solid yellowgreen;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
    opacity: 0.7;
    border-bottom: 5px solid green;
    box-shadow: 0px 0px 5px 3px greenyellow;
}

.container {
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
}

@media only screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 850px) {
    /* #myForm {
        width: 50%;
        height: 80%;
        overflow: auto;
    }
    .addBook {
        width: 100%;
        height: auto;
        overflow: auto;
    } */
}